import pytest
import asyncio
from {{ workflow.name }}_auto import {{ workflow.name|title|replace('_','') }}Workflow

@pytest.mark.asyncio
async def test_successful_execution():
    workflow = {{ workflow.name|title|replace('_','') }}Workflow()
    await workflow.run()